*{
  margin: 0;
}

button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

header{
  background-color: #16a085;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 4vh;
}

header p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: normal;
    max-width: 100%;
    margin-left: 10px;
}

.app{
  max-height: 100vh;
  max-width: 100vw;
}

.complete-console{
  display: flex;
  width: 100%;
  height: 90.5vh;
}

.left-panel{
  background-color: rgba(rgba(54, 215, 183, 0.7)); 
  min-width: 30vw;
}

.user-panel{
  display: flex;
  justify-content: space-between;
  height: 9vh;
  width: 30vw;
}

.username-picture{
  display: flex;
  padding-left: 20px;
}

#defaultUserName{
  align-self: center;
  font-weight: normal;
}

.left-panel-options{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 8vw;
}

.left-panel-search{
  display: flex;
  max-width: 85%;
  min-height: 5%;
  border: 1px solid #16a085;
  border-radius: 20px;
  margin-left: 5%;
  padding:5px 10px;
}

.search-input-left-panel{
  opacity: 0.5;
  padding: 10px;
  width: 18rem;
  background-color:transparent;
  border-style: none;
}

.chat-contacts{
  background-color: rgba(rgba(54, 215, 183, 0.7));
  height: 74vh;
  width: 30vw;
}

.single-chat-contact{
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  border: 1px solid rgba(236, 240, 241,0.3);
}

.single-chat-contact:hover{
  box-shadow: 0 8px 6px -6px rgb(107, 230, 148);
  cursor: pointer;
}

.single-chat-contact-last-message h3,p{
  padding: 5px;
}

.chat-contacts-name-last-message{
  padding-left: 10px;
}

.right-panel{
  min-width: 70vw;
}

.chat-recipient-bar{
  display: flex;
  background-color: (rgba(54, 215, 183, 0.7));
  height: 6vh;
  padding: 10px 5px 5px 10px;
  justify-content: space-between;
}

.recipient-name-pic{
  display: flex;
}

#recipientUserName{
  padding: 10px;
  font-weight: normal;
}

.recipient-right-panel-options{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.chat-history-box{
  background-color: rgba(rgba(54, 215, 183, 0.5));
  height: 72vh;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

.chat-no-history-box{
  height: 90.5vh;
  display: flex;
  background-color: rgba(rgba(54, 215, 183, 0.5));
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  justify-content: center;
  align-items: center;
}

.chat-no-history-box img{
  max-width: 250px;
}

.chat-box-panel{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: (rgba(54, 215, 183, 0.7));
}

.chat-textarea-encloser{
  background-color: (rgba(54, 215, 183, 0.7));
  min-width: 80%;
  min-height: 35px;
  border-radius: 20px;
  padding: 3px 10px;
  border: 1px solid #16a085;
  border-radius: 20px;
}

.chat-textArea{
  min-width: 98%;
  min-height: 95%;
}

#chat-input-textarea{
  background-color: (rgba(54, 215, 183, 0.7));
  border-style: none;
  padding-left: 10px;
}

.mic-send-encloser{
  display: flex;
  min-width: 10%;
  padding-right: 1%;
  padding-left: 1%;
  justify-content: space-between;
}

footer{
  background-color: #16a085;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 3vh;
}

footer p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: normal;
    text-align: center;
}