* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Roboto', sans-serif;

  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  
  header {
    background-color: #16a085;
    margin: auto -16px;
    padding: 16px 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: large;
  }
  
  footer {
    background-color: #16a085;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: auto -16px;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: medium;
    padding-top: 5px;
  }

  .console-container{
    display: flex;
    width: 100%;
    min-height: 35em;
  }

  .left-panel{
    flex-basis: 30%;
    background-color: rgba(rgba(54, 215, 183, 0.7)); 
  }
  
  .right-panel{
    flex-basis: 70%;
    background-color: rgba(rgba(54, 215, 183, 0.5));
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  }